// output: ../index.html
html
  head
    meta(charset='UTF-8')
    title Vida Lab Template
    meta(name='Description', content='Vida Lab Template')
    meta(name='Keywords', content='Vida Lab Template')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:400,700')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(type='text/javascript', src='d3.js')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.11.1.js')
    script(type='text/javascript', src='vida_template.js')

  body
    #canvas
